.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid black;
}

.button {
  padding: 20px;
  width: 200px;
  margin: 10px 0;
  font-size: 36px;
  font-weight: 700;
  color: white;
  background-color: blue;
  outline: inherit;
  border: 1px solid black;
  border-radius: 8px;
}

.label {
  align-self: flex-start;
  margin-top: 10px;
}
